.print-break {
    page-break-before: always;
}
body.print{
    font-size: 1.3rem;
}

img{
    max-width: 100%;
    display: block;
}

.bg-even{
    background-color: #eee;
}

.sub, .starter{
    cursor: pointer;
    border: solid 1px;
}

.sub:hover, .starter:hover{
    background-color: #eee;
}

.text-male{
    color: #1E90FF;
}

.text-female, .text-pink{
    color: #FF69B4;
    font-weight: bold;
}

.text-hotpink{
    color: #FF1493 !important;
}

.show-team{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.show-stats{
    cursor: pointer;
}

.stats .card{
    box-shadow: 0 0 15px 5px #000
}